@page
@model IndexModel
@{
    ViewData["Title"] = "CovidMTDash";
}

<div class="text-center">
    <h1><strong>COVID-19</strong> 🇲🇹 Dashboard</h1>
    <p>This is an unofficial dashboard as the government and health ministry has discontinued the official one. <strong>Data is <a href="https://github.com/COVID19-Malta/COVID19-Data" target="_blank">retrieved from official sources</a>.</strong></p>
    @if (Model.data != null)
    {
        <p class="small">Last Updated: <strong>@Model.data.Date.ToShortDateString()</strong></p>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 panel"><div class="internal"><div class="value">@Model.data.NewCases.ToString("N0")</div><div class="label">New Cases (24h)</div></div></div>
                <div class="col-md-6 col-lg-6 panel"><div class="internal"><div class="value">@Model.data.ActiveCases.ToString("N0")</div><div class="label">Active Cases</div></div></div>
                <div class="col-md-12 col-lg-12 panel"><div class="internal"><div class="value">@Model.data.TotalCases.ToString("N0")</div><div class="label">Total Cases</div></div></div>
                <div class="col-md-6 col-lg-6 panel"><div class="internal"><div class="value">@Model.data.NewRecovered.ToString("N0")</div><div class="label">Recovered (24h)</div></div></div>
                <div class="col-md-6 col-lg-6 panel"><div class="internal"><div class="value">@Model.data.TotalRecovered.ToString("N0")</div><div class="label">Total Recovered</div></div></div>
                <div class="col-md-6 col-lg-6 panel"><div class="internal"><div class="value">@Model.data.NewDeaths.ToString("N0")</div><div class="label">Deaths (24h)</div></div></div>
                <div class="col-md-6 col-lg-6 panel"><div class="internal"><div class="value">@Model.data.TotalDeaths.ToString("N0")</div><div class="label">Total Deaths</div></div></div>
            </div>
        </div>
    } else {
        <p class="red">An error occured while fetching data. Please try again later.</p>
    }
</div>
